.note-editor.note-frame .note-editing-area {
  overflow: hidden;
  height: 210px !important;
}

/************ Upload input file Style *************************************************/
.imgfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.imgfile + label {
  max-width: 80%;
  font-size: 1rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .imgfile + label {
  display: none;
}

.imgfile:focus + label,
.imgfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.imgfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.imgfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

/* style 1 */

.imgfile-1 + label {
  color: #f1e5e6;
  background-color: #d3394c;
}

.imgfile-1:focus + label,
.imgfile-1.has-focus + label,
.imgfile-1 + label:hover {
  background-color: #722040;
}
