@import url("https://fonts.googleapis.com/css?family=Anton:300,400,600,800|Nunito:300,400,600,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i,800&display=swap");
* {
  margin: 0;
  /* padding: 0; */
  outline: 0;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 10px transparent !important;
}

a:focus,
a:hover {
  text-decoration: none;
  border-color: transparent;
  outline: 0;
  color: #2b2d42;
}
a {
  color: #2b2d42;
}
img {
  border: 0;
}

.clr {
  clear: both;
}

body {
  background: #f5f5f5;
}
#header {
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #15161d;
  border-top: 3px solid #d10024;
}
.header-logo {
  float: left;
}
.header-logo .logo img {
  display: block;
  padding: 12px 0px;
}

.header-search {
  padding: 15px 5px;
}
.header-search .search-div {
  position: relative;
}
.header-search .search-div .input {
  width: calc(100% - 100px);
  margin-right: -4px;
}
.bg-light-color {
  background: #22232b;
  padding: 0;
}
.input {
  height: 40px;
  padding: 0px 15px;
  border: 1px solid #e4e7ed;
  background-color: #fff;
  width: 100%;
}
.header-search .search-div .search-btn {
  height: 41px;
  width: 99px;
  background: #d10024;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 0px 40px 40px 0px;
  padding: 10px 20px;
}

#slider .carousel-indicators .active {
  background-color: #df2334;
  border: 1px solid #a80019;
}
#slider .carousel-indicators li {
  cursor: pointer;
  background: #acacac;
  border: 1px solid #909090;
}
.promotion {
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
  box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.promotion:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #e4e7ed, 0px 0px 0px 2px #d10024;
  box-shadow: 0px 0px 6px 0px #e4e7ed, 0px 0px 0px 2px #d10024;
}
.promotion .promo-img {
  position: relative;
}
.promotion .promo-img > img {
  display: block;
  width: 100%;
  padding: 8px;
  height: 178px;
}
.promotion .promo-body {
  position: relative;
  padding: 9px;
  background-color: #fff;
  text-align: left;
  z-index: 20;
  font-family: "Open Sans", Arial, sans-serif;
}
.promotion .promo-body .promo-name {
  text-transform: uppercase;
  font-size: 13px;
  color: #2b2d42;
  font-weight: bold;
  margin-bottom: 8px;
}
.promotion .promo-body .promo-text {
  font-size: 12px;
  padding-bottom: 10px;
  height: 40px;
}

.promotion .promo-body .promo-bar {
  position: relative;
  margin: 10px 0px 0px;
  height: 20px;
}
.promotion .promo-body .promo-bar:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1px;
  background-color: #e2e2e2;
}
.promotion .promo-body .promo-price {
  color: #e02435;
  font-weight: bold;
}

#footer {
  background: #15161d;
  border-top: 3px solid #d10024;
  text-align: center;
  padding: 12px;
}
#footer .footer-text {
  color: #fff;
  font-size: 15px;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: #ffffffb5;
}
.loading .content {
  position: absolute;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  color: #555;
}
.loading .content img {
  width: 40px;
}

.banner-lv {
  border: solid 1px #ecebeb;
  background: #fff;
  padding: 10px 13px;
  margin: 11px 0px;
}
.detail-title {
  font-size: 22px;
  color: #4a4949;
  margin-top: 0px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 20px;
}
.price {
  margin-right: 4em;
}
.price .p-title {
  font-size: 55px;
  margin-top: 1em;
  font-weight: 500;
  color: #d10024;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.offset-1 {
  margin-left: 0;
  margin-right: 0;
  display: block;
  margin: 0 auto;
}

.banner-lv ul {
  list-style: none;
}

.banner-lv ul li::before {
  content: "\2022";
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.banner-lv .high {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.content-placeholder {
  display: inline-block;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(8%, #eeeeee),
    color-stop(18%, #dddddd),
    color-stop(33%, #eeeeee)
  );
  background: -webkit-linear-gradient(
    left,
    #eeeeee 8%,
    #dddddd 18%,
    #eeeeee 33%
  );
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
  height: inherit;
  position: relative;
  /* margin: 15px 0px; */
  height: 233px;
  width: 100%;
}
.art-div {
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
  box-shadow: 0px 0px 0px 0px #e4e7ed, 0px 0px 0px 1px #e4e7ed;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.art-div .art-content {
  padding: 10px 13px;
  height: 170px;
  width: 100%;
  display: block;
}
.art-div .art-content > p {
  color: #7a7a7a;
  margin-top: 6px;
}
.art-div .art-content > i {
  font-style: normal;
  font-size: 12px;
  color: #8e8e8e;
  position: relative;
  bottom: 3px;
  font-weight: normal;
}
.art-div .art-content > i > span {
  font-style: normal;
  font-family: arial;
  margin-left: 4px;
}
.art-div .img-art {
  width: 100%;
  display: block;
  height: 350px;
  margin: 0 auto;
}
.art-div .art-content > h3 {
  font-size: 20px;
  margin-bottom: 0;
  line-height: 1.1;
}
.top1 {
  padding: 10px 0 10px;
}
.top1 .fa {
  font-weight: normal;
  color: #9c9c9c;
  font-size: 14px;
  font-style: normal;
}
.top1 .fa > span {
  margin-left: 3px;
}
.top1 > h1 {
  margin-bottom: 0;
}
.div-white {
  background: #fff;
  width: 100%;
  display: block;
  margin: 0 auto;
  border-top: 1px solid #e2e2e2;
}
.div-white .article-img {
  width: 55%;
  display: block;
  margin: 0 auto;
  padding: 40px 0 23px;
}
.div-white .art-content {
  width: 75%;
  margin: 0 auto;
  display: block;
  padding: 0 0 25px;
}
.div-white .art-content > p {
  margin-bottom: 0;
  color: #6b6b6b;
}
